<div>
    <button class="btn  btn-primary mb-2" onclick="window.location.href='/user/home'"> volver al home </button>
    <div>
        <img src={{user.formfile}} alt="avatar">
        <h2>Datos personales</h2>
        <p>nombre:{{user.username}}</p>
        <p>contraseña:{{user.password}}</p>
        <p>email:{{user.direccion}}</p>
        <p>residencia:{{user.residencia}}</p>
        <p>edad:{{user.edad}}</p>
        <p>celular:{{user.celular}}</p>
    </div>
</div>